{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en-US">


	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<title>Places Searchbox</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href=" {% static 'css/index.css' %} ">

	<!--JS (load ui-router) -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
	

	<body>
		{% block content %} <!-- add this (also needs extends) to the allauth base.html -->


				{% verbatim %}
				<div ng-app="myApp">
						<div  ng-controller='gameStoresCtrl'>					
							<div class="row storeRow" ng-repeat="store in gameStores">
								<div id="store{{ store.pk }}" ng-click="clickMeFunc()">
									Store: {{ store.fields.name }} - pk: {{ store.pk }} - <em>{{store.fields.store_hours}}</em> index: {{ store.pk }}
								</div>
								
								<ul>
									<li ng-repeat="session in sessions">
										<div ng-show="{{session.fields.game_store}} == {{ store.pk }} and clickMe"> storepk: {{ store.pk }}
											Session: {{ session.fields.name }} - store: {{ session.fields.game_store }} - Needed Players: {{ session.fields.needed_players }}
										</div>
									</li>
								</ul>
							</div>
						</div>				
				</div> <!-- END myApp -->
			{% endverbatim %}
		</div> <!-- END container -->

			<!--JS (load angular) -->
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
			<script src="{% static 'angular/index.js' %}"></script>
		{% endblock %}
	</body>

</html>



	
